.alert-success-subtle-bg-only{
    background-color: #dcfce7;
    border-color: #22c55e;
}
.alert-success-subtle{
    background-color: #dcfce7;
    border-color: #22c55e;
    color: #22c55e;
}
.alert-danger-subtle{
    background-color: #fee2e2;
    border-color: #ef4444;
    color: #ef4444;
}
.div-inline{
    display:inline-block;
}
.blur{
    filter: blur(4px);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.dropdown-center{
    top: 120% !important;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

@media (min-width: 1500px) {
    .main-content-dashboard {
        flex: 0 0 auto;
        width: 73.33333%;
    }   
}

.dropdown-menu-center{
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
}
  .mt-minus{
    margin-top: -12rem !important;
}

@media (min-width: 1500px) {
    .main-content-sandbox {
        flex: 0 0 auto;
        width: 100%;
    }   
}

.small-toggle {
    height: 20px !important;
    margin-top: 1px !important;
  }
  
  .small-toggle:checked {
    background-size: 20px 20px !important;
  }

  @media (min-width: 768px) {
    .btn.w-md-auto {
      width: auto !important;
    }
  }  

  .hover-danger:hover {
    color: #BB2D3B !important;
    
  }

/* FOR SEARCH AUTOCOMPLETE */
.suggestions {
    position: absolute;
    width: calc(100% - 3rem); /* Adjust width as needed */
    z-index: 1000;
    margin-top: 0.1rem;
    background-color: white; /* Set background color */
    border-radius: 0.25rem; /* Add border radius for a rounded look */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Add shadow for depth */
  }
  
  .suggestions .list-group-item {
    cursor: pointer;
  }
  
  .suggestions .list-group-item:hover {
    background-color: #F9FBFD; /* Change background color on hover */
    color: #2D7BE5 !important;
  }
  /* FOR SEARCH AUTOCOMPLETE */  

  .custom-link:hover {
    color: #2D7BE5 !important;
    
  }  

  .button-edit:hover svg {
    fill: white;
  }

  .button-delete:hover svg {
    fill:  #BB2D3B;
  }
  
  .highlight-start {
    border: 3px solid red !important;
  }

  .custom-popover {
    max-width: none !important; /* Allows the width to exceed the default maximum */
    width: 550px !important; /* Set your desired width */
  }

  .popover-header {
    line-height: 1.5rem !important;
  }